/*
* test out some logic that uses variables and potentially creates markup
* 
* 
*/


// need the last as blank so we can output prefix free
$prefixes: "-webkit-", "-moz-", "";


// boring loop
@mixin box-sizing($arg){
	@each $prefix in $prefixes {
		#{$prefix}box-sizing: $arg;
	}
}

@mixin breakpoint($arg) {
	@if $isMedia {
		@media ( min-width: $arg) {
			@content;
		}

	// simply override the rule so cascade still works
	} @else {
		@content;
	}
}


//----------------------------------------------------------------------------

%clearfix,
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


%button,
.button {
	display: inline-block;

	padding: 5px 10px;
	background: #b3b3b5;

	text-shadow: 0 1px 0 #fff;
	text-align: center;

	// stop <a>'s getting this by mistake
	&[href] { text-decoration: none; }
}


// pragmatic font sizing ala css wizardry
%alpha,
.alpha {
	font-size: 4em;
	font-family: $brand__font;
	color: $brand__color;
}