/*
* so we can see that variables are being used in other files
* this file doesn't have css so its a good test
*/

// we know these aren't outputted anyway
$brand__color: #41a096;

$brand__font: "Open Sans", Helvetica, sans-serif;

$gutter: 10px;
$gutter--tablet: 10px;
$gutter--desktop: 20px;

$sprite: "/standard/images/icons.png";